*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

main > .container {
  padding: 60px 15px 0;
}

.navbar-nav .nav-link{
    font-family:"Century Gothic";
    transition:all 0.3s ease;
    margin-left:100px;
    display:inline-block;
     transform:translateY(-10px);
}

.navbar-nav .nav-link:hover{
    font-family:sans;
}

.container{
    padding:50px;
}

.col-lg-6 p{
    font-size:38px;
    font-weight:bold;
    text-shadow: 1.5px 1.5px #ff0000;
}

.col-lg-6 p span{
    color:#C5299BFF;
}

.download{
    display:inline-block;
    background:crimson;
    color:#fff;
    font-size:12px;
    padding:12px 36px;
    font-family:"Century Gothic";
    margin-top:20px;
    border-radius:6px;
    border:2px solid crimson;
    transition:all 0.3s ease;
}

.download:hover{
    background:none;
    color:black;
    font-weight:bold;
    text-decoration:none;
}

iframe{
    width:110%;
    height:120%;
    border:8px solid #C5299BFF;
    border-radius:20px;
    margin-left:60px;
    box-shadow:0 14px 12px #000;
}


/*-----------------------------------------------------------------------------*/
#content{
    padding:50px;
    cursor:pointer;
    transition:all 0.5s ease;
    display:flex;
}

#content:hover{
    padding:50px;
    cursor:pointer;
    background:linear-gradient(to left,#C5299BFF,#FCF8F5FF);
    
}

.cleared{
    width:100px;
}

.sate{
    width:100px;
}

.video{
    width:100px;
}

.book{
    width:100px;
}

h6{
    padding:10px;
    text-align:center;
}

p{
    text-align:center;
    font-family:"Century Gothic";
    font-weight:700;
    font-size:12px;
    color:#222;
}
/*------------------------------------------------------------------------------*/
h1{
    font-size:35px;
    font-family:"Century Gothic";
    font-weight:700;
    text-shadow: 1.5px 1.5px #ff0000;
}

h1 span{
    color:#C5299BFF;
}

.online{
    box-shadow:0 14px 12px #000;
}

/*------------------------------------------------------------------------------*/
sections{
    padding:15px;
}

h3{
    text-align:center;
    padding:50px;
     color:#C5299BFF;
     font-family:"Century Gothic";
    font-weight:700;
}

.image-1{
    border-radius:80px;
    width:10rem;
    box-shadow:0 14px 12px #000;
}

.image-2{
    border-radius:80px;
    width:10rem;
    box-shadow:0 14px 12px #000;
    cursor:pointer;
}

.image-3{
    border-radius:100px;
    width:10rem;
    height:10rem;
    box-shadow:0 14px 12px #000;

}

.link{
    display:inline-block;
    background:crimson;
    color:#fff;
    font-size:12px;
    padding:12px 36px;
    font-family:"Century Gothic";
    margin-top:20px;
    border-radius:6px;
    border:2px solid crimson;
    text-align:center;
    transition:all 0.3s ease;
    margin-left:27rem;
}

.link:hover{
    background:none;
    color:black;
    font-weight:bold;
    text-decoration:none;
}

.col-md-4 a{
    text-decoration:none;
}

.or{
    margin-left:4rem;
}
/*------------------------------------------------------------------------------*/
.classes{
    padding:20px;
}

.col-lg-6 .you{
    width:90%;
    margin-left:2px;
    height:30rem;
}

.teacher{
    width:100%;
    height:18rem;
    box-shadow:0 14px 12px #000;
}

.image1{
    border-radius:80px;
    width:8rem;
    box-shadow:0 14px 12px #000;
    cursor:pointer;
    padding:20px;
}

.image2{
    border-radius:80px;
    width:8rem;
    box-shadow:0 14px 12px #000;
    cursor:pointer;
     padding:20px;
}

.image3{
   border-radius:80px;
    width:8rem;
    box-shadow:0 14px 12px #000;
    cursor:pointer;
     padding:20px;
}

.image4{
    border-radius:80px;
    width:8rem;
    height:8rem;
    box-shadow:0 14px 12px #000;
    cursor:pointer;
     padding:20px;
}

.image6{
    border-radius:80px;
    width:8rem;
    box-shadow:0 14px 12px #000;
    cursor:pointer;
    padding:20px;
}

.image7{
    border-radius:80px;
    width:8rem;
    box-shadow:0 14px 12px #000;
    cursor:pointer;
     padding:20px;
}

.image8{
   border-radius:80px;
    width:8rem;
    box-shadow:0 14px 12px #000;
    cursor:pointer;
     padding:20px;
}

.image9{
    border-radius:80px;
    width:8rem;
    height:8rem;
    box-shadow:0 14px 12px #000;
    cursor:pointer;
     padding:20px;
}

.access{
    font-size:14px;
    color:grey;
}

.tutors1{
    width:100px;
    border-radius:50px;
    box-shadow:0 14px 12px #000;
}

h2{
    font-size:18px;
    text-shadow: 1.5px 1.5px #fff;
    color:#C5299BFF;
}
/*------------------------------------------------------------------------------*/


.home{
    padding:5rem;
}

.student{
    width:100%;
    margin-left:2px;
    height:15rem;
}

@media(max-width:1200px){
    
    iframe{
    width:110%;
    height:120%;
    border:8px solid #C5299BFF;
    border-radius:20px;
    margin-left:-1.5rem;
    margin-top:2rem;
    box-shadow:0 14px 12px #000;
    }

    .cleared{
        margin-left:6rem;
        padding:5px;
    }

    .sate{
        margin-left:6rem;
    }

    .video{
        margin-left:6rem;
    }

    .book{
       margin-left:6rem; 
    }

    .image-1,.image-2, .image-3{
        margin-left:2rem;
        margin-top:4rem;
    }

    h5{
       margin-left:3rem;
       color:grey; 
    }

    h4{
       margin-left:2rem;
    }

    .or{
        margin-left:7rem;
    }

    .link{
    display:inline-block;
    background:crimson;
    color:#fff;
    font-size:12px;
    padding:12px 36px;
    font-family:"Century Gothic";
    margin-top:20px;
    border-radius:6px;
    border:2px solid crimson;
    text-align:center;
    transition:all 0.3s ease;
    margin-left:20rem;
    }

    .link:hover{
    background:none;
    color:black;
    font-weight:bold;
    text-decoration:none;
    }

    .lives{
        margin-left:1rem;
    }
    
    h6{
        color:grey;
    }

    .solve{
        margin-left:1rem;
    }

    .classes{
        margin-top:-5rem;
    }

    .image1, .image2, .image3, .image4{
        margin-left:3rem;
    }

    .subject{
        color:#C5299BFF;
        margin-left:0.8rem;
        padding:10px;
    }

    .access{
        margin-left:1rem;
    }

    .image6, .image7, .image8, .image9{
        margin-left:1rem;
    }

    .tutors1{
        margin-left:3rem;
    }

    .container-1 .link{
        margin-left:16rem;
    }

}

@media(max-width:999px){
    .navbar-nav .nav-link{
        font-family:"Century Gothic";
        transition:all 0.3s ease;
        margin-left:-1rem;
        display:inline-block;
        transform:translateY(-10px);
        }

        .navbar-nav .nav-link:hover{
            font-family:sans;
        }



    iframe{
    width:110%;
    height:120%;
    border:8px solid #C5299BFF;
    border-radius:20px;
    margin-left:-1.5rem;
    margin-top:2rem;
    box-shadow:0 14px 12px #000;
    }

    .cleared{
        margin-left:6rem;
        padding:5px;
    }

    .sate{
        margin-left:6rem;
    }

    .video{
        margin-left:6rem;
    }

    .book{
       margin-left:6rem; 
    }

    .image-1,.image-2, .image-3{
        margin-left:8rem;
        margin-top:4rem;
    }

    h5{
       margin-left:9.2rem;
       color:grey; 
    }

    h4{
       margin-left:7rem;
    }

    .or{
        margin-left:12rem;
    }

    .link{
    display:inline-block;
    background:crimson;
    color:#fff;
    font-size:12px;
    padding:12px 36px;
    font-family:"Century Gothic";
    margin-top:20px;
    border-radius:6px;
    border:2px solid crimson;
    text-align:center;
    transition:all 0.3s ease;
    margin-left:7rem;
    }

    .link:hover{
    background:none;
    color:black;
    font-weight:bold;
    text-decoration:none;
    }

    .lives{
        margin-left:1rem;
    }
    
    h6{
        color:grey;
    }

    .solve{
        margin-left:1rem;
    }

    .classes{
        margin-top:-5rem;
    }

    .image1, .image2, .image3, .image4{
        margin-left:10rem;
    }

    .subject{
        color:#C5299BFF;
        margin-left:3rem;
    }

    .access{
        margin-left:1rem;
    }

    .image6, .image7, .image8, .image9{
        margin-left:6rem;
    }

    .tutors1{
        margin-left:3rem;
    }

    .container-1 .link{
        margin-left:2.5rem;
    }
}

@media(max-width:900px){
    .navbar-nav .nav-link{
        font-family:"Century Gothic";
        transition:all 0.3s ease;
        margin-left:2rem;
        display:inline-block;
        transform:translateY(-10px);
        }

        .navbar-nav .nav-link:hover{
            font-family:sans;
        }



    iframe{
    width:110%;
    height:120%;
    border:8px solid #C5299BFF;
    border-radius:20px;
    margin-left:-1.5rem;
    margin-top:2rem;
    box-shadow:0 14px 12px #000;
    }

    .cleared{
        margin-left:6rem;
        padding:5px;
    }

    .sate{
        margin-left:6rem;
    }

    .video{
        margin-left:6rem;
    }

    .book{
       margin-left:6rem; 
    }

    .image-1,.image-2, .image-3{
        margin-left:8rem;
        margin-top:4rem;
    }

    h5{
       margin-left:9.2rem;
       color:grey; 
    }

    h4{
       margin-left:7rem;
    }

    .or{
        margin-left:12rem;
    }

    .link{
    display:inline-block;
    background:crimson;
    color:#fff;
    font-size:12px;
    padding:12px 36px;
    font-family:"Century Gothic";
    margin-top:20px;
    border-radius:6px;
    border:2px solid crimson;
    text-align:center;
    transition:all 0.3s ease;
    margin-left:7rem;
    }

    .link:hover{
    background:none;
    color:black;
    font-weight:bold;
    text-decoration:none;
    }

    .lives{
        margin-left:1rem;
    }
    
    h6{
        color:grey;
    }

    .solve{
        margin-left:1rem;
    }

    .classes{
        margin-top:-5rem;
    }

    .image1, .image2, .image3, .image4{
        margin-left:10rem;
    }

    .subject{
        color:#C5299BFF;
        margin-left:3rem;
    }

    .access{
        margin-left:1rem;
    }

    .image6, .image7, .image8, .image9{
        margin-left:6rem;
    }

    .tutors1{
        margin-left:3rem;
    }

    .container-1 .link{
        margin-left:-11rem;
    }

}

@media(max-width:750px){

    iframe{
    width:110%;
    height:120%;
    border:8px solid #C5299BFF;
    border-radius:20px;
    margin-left:-1.5rem;
    margin-top:2rem;
    box-shadow:0 14px 12px #000;
    }

    .image-1,.image-2, .image-3{
        margin-left:8rem;
        margin-top:4rem;
    }

    h5{
       margin-left:9.2rem;
       color:grey; 
    }

    h4{
       margin-left:7rem;
    }

    .or{
        margin-left:12rem;
    }

    .link{
    display:inline-block;
    background:crimson;
    color:#fff;
    font-size:12px;
    padding:12px 36px;
    font-family:"Century Gothic";
    margin-top:20px;
    border-radius:6px;
    border:2px solid crimson;
    text-align:center;
    transition:all 0.3s ease;
    margin-left:7rem;
    }

    .link:hover{
    background:none;
    color:black;
    font-weight:bold;
    text-decoration:none;
    }

    .lives{
        margin-left:1rem;
    }
    
    h6{
        color:grey;
    }

    .solve{
        margin-left:1rem;
    }

    .classes{
        margin-top:-5rem;
    }

    .image1, .image2, .image3, .image4{
        margin-left:10rem;
    }

    .subject{
        color:#C5299BFF;
        margin-left:3rem;
    }

    .access{
        margin-left:1rem;
    }

    .image6, .image7, .image8, .image9{
        margin-left:6rem;
    }

    .tutors1{
        margin-left:3rem;
    }

    .container-1 .link{
        margin-left:-11rem;
    }

}

@media(max-width:500px){

    iframe{
    width:110%;
    height:120%;
    border:8px solid #C5299BFF;
    border-radius:20px;
    margin-left:-1.5rem;
    margin-top:2rem;
    box-shadow:0 14px 12px #000;
    }

    .cleared{
        margin-left:6rem;
        padding:5px;
    }

    .sate{
        margin-left:6rem;
    }

    .video{
        margin-left:6rem;
    }

    .book{
       margin-left:6rem; 
    }

    .image-1,.image-2, .image-3{
        margin-left:8rem;
        margin-top:4rem;
    }

    h5{
       margin-left:9.2rem;
       color:grey; 
    }

    h4{
       margin-left:7rem;
    }

    .or{
        margin-left:12rem;
    }

    .link{
    display:inline-block;
    background:crimson;
    color:#fff;
    font-size:12px;
    padding:12px 36px;
    font-family:"Century Gothic";
    margin-top:20px;
    border-radius:6px;
    border:2px solid crimson;
    text-align:center;
    transition:all 0.3s ease;
    margin-left:7rem;
    }

    .link:hover{
    background:none;
    color:black;
    font-weight:bold;
    text-decoration:none;
    }

    .lives{
        margin-left:1rem;
    }
    
    h6{
        color:grey;
    }

    .solve{
        margin-left:1rem;
    }

    .classes{
        margin-top:-5rem;
    }

    .image1, .image2, .image3, .image4{
        margin-left:10rem;
    }

    .subject{
        color:#C5299BFF;
        margin-left:3rem;
    }

    .access{
        margin-left:1rem;
    }

    .image6, .image7, .image8, .image9{
        margin-left:6rem;
    }

    .tutors1{
        margin-left:3rem;
    }

    .container-1 .link{
        margin-left:2.5rem;
    }
}